# ----------------------------------------
# ENTORNOS VIRTUALES
# ----------------------------------------
venv/
venv_rembg/
env/
.venv/

# ----------------------------------------
# ARCHIVOS PYTHON
# ----------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb



# ----------------------------------------
# SUBIDAS DEL USUARIO
# ----------------------------------------
static/uploads/

# ----------------------------------------
# MODELOS DE IA PESADOS
# ----------------------------------------
*.h5
*.keras
*.pb
*.tflite
*.onnx
modelo/
saved_model/

# ----------------------------------------
# ARCHIVOS TEMPORALES
# ----------------------------------------
*.log
*.tmp
*.temp

# ----------------------------------------
# SISTEMA / EDITORES
# ----------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----------------------------------------
# ARCHIVOS DE INSTALADORES
# ----------------------------------------
*.tgz
*.tar.gz
*.zip
Python-3.*

# ----------------------------------------
# ARCHIVOS DE BACKUP
# ----------------------------------------
*.bak
*~
